<h1>Maestro Canciones</h1>
<table class="table table-striped table-hover align middle">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Genero</th>
            <th>Pais</th>
            <th>Canciones</th>
            <th>Activo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let canciones of listaCanciones">
            <th scope="row">{{artista.id}}</th>
            <td>{{ canciones.nombre }}</td>
            <td>{{ canciones.letra }}</td>
            <td>{{ canciones.fechaInscripcion}}</td>
            <td>{{ canciones.valorCancionTocada }}</td>
            <td>{{ canciones.disponible }}</td>
            <td>{{ canciones.artistaId }}</td>
            <td>
                <button type="button" class="btn btn-primary btn-sm" (click)="editar(canciones.id)">
                    <i class="fas fa-edit"></i> Editar
                </button>
                <button type="button" class="btn btn-danger btn-sm" (click)="eliminar(canciones.id)">
                    <i class="fas fa-trash"></i> Eliminar
                </button>
            </td>
        </tr>
    </tbody>
</table>